%li
  = form.input_field :url, placeholder: 'URL', class: 'url'
  = form.input_field :location, collection: website_location_collection, include_blank: false, class: 'location'
  = link_to icon_tag('trash'), '#', :'data-destroy-association' => true
