%tr
  %td.name= link_to milestone.name, project_milestone_path(milestone.project, milestone)
  %td.starts-on= l(milestone.starts_on, format: :long)
  %td.ends-on= l(milestone.ends_on, format: :long)
  %td.ticket-progress
    = ticket_progress_bar(milestone.ticket_progress)
