%table.table.api-applications-table
  %thead
    %tr
      %th.name Name
      %th.key Key
      %th.token Token
      %th.sso-callback-url SSO callback URL
      %th.sso-enabled SSO?
      %th.row-actions
  %tbody
    = render applications
