= simple_form_for category, remote: true do |f|
  %div.grid
    %div.grid-6
      = f.input :name
    %div.grid-6
      = f.input :color, as: :color

  %div.modal-footer
    = f.button :submit, 'Save', class: 'btn btn-primary'
