%table.table.accounts-table
  %thead
    %tr
      %th.number Number
      %th.name Name
      %th.tax-code Tax code
      %th.type Type
      %th.balance Balance
      %th.row-actions
  %tbody
    = render self.accounts
